<!--The content below is only a placeholder and can be replaced.-->
 <!-- Static navbar -->
 <nav class="navbar navbar-default" style="background-color: lightskyblue" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar-collapse" class="">
      <div style="text-align: center; display: inline-block; margin-left: auto; margin-right: auto">
        <h2>
           Welcome to {{ title }}!
        </h2>
        <p>The cat social newtwork.</p>
      </div>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
