
<div class='row' style='margin-bottom: 10px; padding: 7px; font-family: sans-serif; background-color: white'>
  <div class='col-md-3'>
    <img width='180' src='https://pbs.twimg.com/profile_images/2370446440/6e2jwf7ztbr5t1yjq4c5_400x400.jpeg' />
  </div>
  <div class='col-md-8'>
    <div class='row'>
        <div class='col-md-3'>
            <p>Name: {{cat}}</p>
          </div>
          <div class='col-md-3'>
            <p>Age:</p>
          </div>
          <div class='col-md-3'>
            <p>Gender:</p>
          </div>
          <div class='col-md-3'>
            <p>Color:</p>
          </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        Description:
      </div>
    </div>
    <div class='row' style='height:100px;'>
      <div class='col-md-12' style='border: 1px solid black'>
        Mock Description
      </div>
    </div>
    <div class='row'>
      <div class='col-md-4'>4.3 Stars</div>
      <div class='col-md-4'></div>
      <div class='col-md-4'>(43) Comments</div>
    </div>
  </div>
</div>