<div class='row' style='margin-top: 11px;margin-bottom: 11px; padding: 7px; font-family: sans-serif; background-color: white'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-3'>
        <p>Name:
          <input class='form-data' type='text' [(ngModel)]="cat.name" />
        </p>
      </div>
      <div class='col-md-3'>
        <p>Age:
          <input class='form-data' type='text' [(ngModel)]="cat.age" />
        </p>
      </div>
      <div class='col-md-3'>
        <p>Gender:
          <input class='form-data' type='text' [(ngModel)]="cat.gender" />
        </p>
      </div>
      <div class='col-md-3'>
        <p>Color:
          <input class='form-data' type='text' [(ngModel)]="cat.color" />
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <p>Image link:
          <input class='form-data' type='text' [(ngModel)]="cat.profileImg" />
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12' style='text-align: right'>
        <button class='btn btn-success' (click)='postClick()'>Post</button>
      </div>
    </div>
  </div>
</div>